
/* ==========================================================================
   Reset CSS
   ========================================================================== */
*{margin:0; padding:0;}
div,dl,dt,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquot,th,td {margin:0; padding:0;}
table { border-collapse: collapse; border-spacing:0; border:0;}
fieldset,img {border:0;}
adress,caption,cite,code,dfn,em,strong,th,var {font-style: normal; font-weight: normal;}
ol,ul {list-style: none;}
th { text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight: normal;}
acronym{ text-decoration:none; border:none; font-style:normal;}
input:focus, textarea:focus{outline:none}
input, textarea{resize:none}
textarea{overflow:auto}

header, section, footer{display:block;}

html, body{height: 100%;}

.clear{clear: both;}
.hidden{display: none;}

body{font:12px Arial, Helvetica, sans-serif; color:#000; background:#fff;}



/* ==========================================================================
   Geral
   ========================================================================== */

header, section, footer{
	position: relative;
	top: 0;
}

.content{
	width: 1175px;
	margin: 0 auto;
	position: relative;
}

/* ==========================================================================
   Home
   ========================================================================== */

/* Topo
   ========================================================================== */
header{
	height: 100%;

	.menu{
		height: 165px;

		.row1{
			height: 110px;
			background: #ffc114;
			img{ margin-top: 15px;}
		}
		.row2{
			height: 55px;
			position: relative;
			.bg{
				background: #000;
				opacity: 0.6;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
	}

	.banner{
		height: 100%;
	}
}



/* Produtos
   ========================================================================== */
.produtos{
	height: 100%;
}


/* Receitas
   ========================================================================== */
.produtos{
	height: 100%;
}


/* Aplicativos
   ========================================================================== */
.aplicativos{
	height: 560px;
}


/* Servicos
   ========================================================================== */
.servicos{
	height: 560px;
}


/* Noticias
   ========================================================================== */
.noticias{
	height: 560px;
}


/* Rodape
   ========================================================================== */
footer{
	height: 375px;
}














