// ==========================================================================
// Sprite
// ==========================================================================

.sprite-1 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/sprite-1.png);}

.app-calculadora {width:84px; height:84px; background-position: -725px -148px}
.app-calculadora2 {width:62px; height:62px; background-position: -374px -107px}
.app-calculadora2-ativo {width:62px; height:62px; background-position: -438px -96px}
.app-cozinha {width:84px; height:84px; background-position: -815px -2px}
.app-cozinha2 {width:63px; height:63px; background-position: -270px -179px}
.app-cozinha2-ativo {width:63px; height:63px; background-position: -309px -107px}
.app-lista2 {width:63px; height:63px; background-position: -205px -179px}
.app-lista2-ativo {width:63px; height:63px; background-position: -244px -114px}
.app-receitas2 {width:63px; height:63px; background-position: -140px -179px}
.app-receitas2-ativo {width:63px; height:63px; background-position: -179px -114px}
.banner-left {width:67px; height:66px; background-position: -71px -179px}
.banner-right {width:67px; height:66px; background-position: -2px -179px}
.bt-nutricional {width:182px; height:29px; background-position: -945px -57px}
.busca-1 {width:53px; height:53px; background-position: -1113px -2px}
.busca-receita {width:280px; height:47px; background-position: -899px -88px}
.circulo-premios {width:103px; height:103px; background-position: -272px -2px}
.facebook {width:88px; height:89px; background-position: -635px -2px}
.fechar {width:40px; height:40px; background-position: -938px -192px}
.fechar-2 {width:56px; height:56px; background-position: -646px -93px}
.filtrar-receita {width:166px; height:53px; background-position: -945px -2px}
.google {width:88px; height:89px; background-position: -545px -2px}
.icon-aplicativo {width:30px; height:30px; background-position: -1040px -137px}
.icon-busca {width:37px; height:36px; background-position: -980px -192px}
.icon-contato {width:18px; height:13px; background-position: -872px -132px}
.icon-imprensa {width:14px; height:17px; background-position: -746px -234px}
.icon-mais {width:37px; height:36px; background-position: -899px -192px}
.icon-premios {width:91px; height:110px; background-position: -179px -2px}
.icon-produto {width:20px; height:29px; background-position: -1093px -199px}
.icon-receita {width:32px; height:27px; background-position: -1115px -199px}
.icon-sobre {width:19px; height:17px; background-position: -725px -234px}
.icon-tempo {width:7px; height:9px; background-position: -377px -96px}
.login-1 {width:166px; height:53px; background-position: -704px -93px}
.mais {width:30px; height:29px; background-position: -1129px -57px}
.menu-mobile {width:32px; height:22px; background-position: -814px -230px}
.next-2 {width:166px; height:92px; background-position: -467px -160px}
.play {width:175px; height:175px; background-position: -2px -2px}
.ponto {width:3px; height:15px; background-position: -874px -230px}
.ponto-cinza {width:6px; height:6px; background-position: -140px -244px}
.prev-2 {width:166px; height:92px; background-position: -377px -2px}
.seta-baixo {width:21px; height:11px; background-position: -872px -119px}
.seta-baixo-ativo {width:21px; height:11px; background-position: -879px -230px}
.seta-cima {width:21px; height:11px; background-position: -872px -106px}
.seta-dir {width:42px; height:80px; background-position: -811px -148px}
.seta-dir-2 {width:42px; height:80px; background-position: -901px -2px}
.seta-dir-ativo {width:42px; height:80px; background-position: -855px -148px}
.seta-esq {width:42px; height:80px; background-position: -335px -172px}
.seta-esq-2 {width:42px; height:80px; background-position: -423px -171px}
.seta-esq-ativo {width:42px; height:80px; background-position: -379px -171px}
.seta-l {width:33px; height:32px; background-position: -1019px -192px}
.texto-maior {width:24px; height:16px; background-position: -848px -230px}
.texto-maior-ativo {width:24px; height:16px; background-position: -872px -88px}
.texto-menor {width:24px; height:16px; background-position: -762px -234px}
.texto-menor-ativo {width:24px; height:16px; background-position: -788px -234px}
.twitter {width:88px; height:88px; background-position: -725px -2px}
.ver-mais {width:91px; height:29px; background-position: -1072px -137px}
.ver-mais-2 {width:91px; height:29px; background-position: -1072px -168px}
.ver-mais-3 {width:142px; height:57px; background-position: -502px -96px}
.ver-mais-4 {width:72px; height:23px; background-position: -1019px -226px}
.ver-todos-2 {width:139px; height:53px; background-position: -899px -137px}
.youtube {width:88px; height:88px; background-position: -635px -155px}