/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:503607dfb47e0009e3e90ec42582822f:4b6737a077c290d0c2b4f5e2fbaee5b5:7ea2996863db73e830d4b3d7af1a1b3e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite-1.png);}

.banner-left {width:67px; height:66px; background-position: -338px -161px}
.banner-right {width:67px; height:66px; background-position: -338px -93px}
.busca-1 {width:53px; height:53px; background-position: -269px -93px}
.facebook {width:88px; height:89px; background-position: -320px -2px}
.filtrar-receita {width:166px; height:53px; background-position: -170px -179px}
.google {width:88px; height:89px; background-position: -179px -57px}
.icon-aplicativo {width:30px; height:30px; background-position: -269px -57px}
.icon-contato {width:18px; height:13px; background-position: -407px -213px}
.icon-imprensa {width:14px; height:17px; background-position: -500px -2px}
.icon-produto {width:20px; height:29px; background-position: -272px -148px}
.icon-receita {width:32px; height:27px; background-position: -294px -148px}
.icon-sobre {width:19px; height:17px; background-position: -497px -123px}
.login-1 {width:166px; height:53px; background-position: -2px -179px}
.play {width:175px; height:175px; background-position: -2px -2px}
.ponto {width:3px; height:15px; background-position: -301px -57px}
.twitter {width:88px; height:88px; background-position: -407px -123px}
.ver-mais {width:91px; height:29px; background-position: -179px -148px}
.ver-mais-2 {width:91px; height:29px; background-position: -410px -92px}
.ver-todos-2 {width:139px; height:53px; background-position: -179px -2px}
.youtube {width:88px; height:88px; background-position: -410px -2px}
