/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:75798123c252e341b5407aed4195798d:be625de553e9ede0828d446f717feaef:7ea2996863db73e830d4b3d7af1a1b3e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite-1.png);}

.app-calculadora {width:84px; height:84px; background-position: -705px -152px}
.app-calculadora2 {width:62px; height:62px; background-position: -465px -176px}
.app-calculadora2-ativo {width:62px; height:62px; background-position: -508px -96px}
.app-cozinha {width:84px; height:84px; background-position: -529px -160px}
.app-cozinha2 {width:63px; height:63px; background-position: -400px -178px}
.app-cozinha2-ativo {width:63px; height:63px; background-position: -443px -96px}
.app-lista2 {width:63px; height:63px; background-position: -132px -179px}
.app-lista2-ativo {width:63px; height:63px; background-position: -335px -178px}
.app-receitas2 {width:63px; height:63px; background-position: -2px -179px}
.app-receitas2-ativo {width:63px; height:63px; background-position: -67px -179px}
.banner-left {width:67px; height:66px; background-position: -266px -178px}
.banner-right {width:67px; height:66px; background-position: -197px -178px}
.bt-nutricional {width:182px; height:29px; background-position: -846px -178px}
.busca-1 {width:53px; height:53px; background-position: -791px -178px}
.busca-receita {width:280px; height:47px; background-position: -785px -2px}
.facebook {width:88px; height:89px; background-position: -605px -2px}
.fechar {width:40px; height:40px; background-position: -1025px -106px}
.filtrar-receita {width:166px; height:53px; background-position: -891px -51px}
.google {width:88px; height:89px; background-position: -515px -2px}
.icon-aplicativo {width:30px; height:30px; background-position: -859px -51px}
.icon-contato {width:18px; height:13px; background-position: -448px -161px}
.icon-imprensa {width:14px; height:17px; background-position: -1051px -177px}
.icon-mais {width:37px; height:36px; background-position: -785px -51px}
.icon-produto {width:20px; height:29px; background-position: -939px -209px}
.icon-receita {width:32px; height:27px; background-position: -1025px -148px}
.icon-sobre {width:19px; height:17px; background-position: -1030px -177px}
.login-1 {width:166px; height:53px; background-position: -716px -92px}
.next-2 {width:166px; height:92px; background-position: -347px -2px}
.play {width:175px; height:175px; background-position: -2px -2px}
.ponto {width:3px; height:15px; background-position: -443px -161px}
.prev-2 {width:166px; height:92px; background-position: -179px -2px}
.seta-baixo {width:21px; height:11px; background-position: -491px -161px}
.seta-baixo-ativo {width:21px; height:11px; background-position: -791px -233px}
.seta-cima {width:21px; height:11px; background-position: -468px -161px}
.seta-dir {width:42px; height:80px; background-position: -311px -96px}
.seta-dir-2 {width:42px; height:80px; background-position: -399px -96px}
.seta-dir-ativo {width:42px; height:80px; background-position: -355px -96px}
.seta-esq {width:42px; height:80px; background-position: -179px -96px}
.seta-esq-2 {width:42px; height:80px; background-position: -267px -96px}
.seta-esq-ativo {width:42px; height:80px; background-position: -223px -96px}
.seta-l {width:33px; height:32px; background-position: -824px -51px}
.twitter {width:88px; height:88px; background-position: -615px -152px}
.ver-mais {width:91px; height:29px; background-position: -791px -147px}
.ver-mais-2 {width:91px; height:29px; background-position: -846px -209px}
.ver-mais-3 {width:142px; height:57px; background-position: -572px -93px}
.ver-todos-2 {width:139px; height:53px; background-position: -884px -106px}
.youtube {width:88px; height:88px; background-position: -695px -2px}
