/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:76f6749e0a39b331d8028507f796e98f:669fa74f3ef13d66ad9a65a1a5889656:7ea2996863db73e830d4b3d7af1a1b3e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprite-1.png);}

.app-calculadora {width:84px; height:84px; background-position: -265px -93px}
.app-calculadora2 {width:62px; height:62px; background-position: -539px -2px}
.app-calculadora2-ativo {width:62px; height:62px; background-position: -509px -157px}
.app-cozinha {width:84px; height:84px; background-position: -179px -93px}
.app-cozinha2 {width:63px; height:63px; background-position: -444px -174px}
.app-cozinha2-ativo {width:63px; height:63px; background-position: -483px -92px}
.app-lista2 {width:63px; height:63px; background-position: -270px -179px}
.app-lista2-ativo {width:63px; height:63px; background-position: -335px -179px}
.app-receitas2 {width:63px; height:63px; background-position: -140px -179px}
.app-receitas2-ativo {width:63px; height:63px; background-position: -205px -179px}
.banner-left {width:67px; height:66px; background-position: -71px -179px}
.banner-right {width:67px; height:66px; background-position: -2px -179px}
.busca-1 {width:53px; height:53px; background-position: -573px -144px}
.facebook {width:88px; height:89px; background-position: -269px -2px}
.filtrar-receita {width:166px; height:53px; background-position: -634px -199px}
.google {width:88px; height:89px; background-position: -179px -2px}
.icon-aplicativo {width:30px; height:30px; background-position: -509px -221px}
.icon-contato {width:18px; height:13px; background-position: -449px -239px}
.icon-imprensa {width:14px; height:17px; background-position: -560px -66px}
.icon-mais {width:37px; height:36px; background-position: -744px -2px}
.icon-produto {width:20px; height:29px; background-position: -785px -2px}
.icon-receita {width:32px; height:27px; background-position: -692px -88px}
.icon-sobre {width:19px; height:17px; background-position: -539px -66px}
.login-1 {width:166px; height:53px; background-position: -634px -144px}
.play {width:175px; height:175px; background-position: -2px -2px}
.ponto {width:3px; height:15px; background-position: -444px -239px}
.seta-dir {width:42px; height:80px; background-position: -400px -174px}
.seta-dir-ativo {width:42px; height:80px; background-position: -439px -92px}
.seta-esq {width:42px; height:80px; background-position: -351px -93px}
.seta-esq-ativo {width:42px; height:80px; background-position: -395px -92px}
.twitter {width:88px; height:88px; background-position: -449px -2px}
.ver-mais {width:91px; height:29px; background-position: -541px -221px}
.ver-mais-2 {width:91px; height:29px; background-position: -692px -57px}
.ver-mais-3 {width:142px; height:57px; background-position: -548px -85px}
.ver-todos-2 {width:139px; height:53px; background-position: -603px -2px}
.youtube {width:88px; height:88px; background-position: -359px -2px}
