// ==========================================================================
// Buttons
// ==========================================================================

.bt-more {
	padding: 6px 18px;
	border: 1px solid #999;
	border-radius: 28px;
	color: #999;
}