/* Webfont: TitilliumWeb-Regular */@font-face {
    font-family: 'TitilliumWeb';
    src: url('TitilliumWeb-Regular.eot'); /* IE9 Compat Modes */
    src: url('TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('TitilliumWeb-Regular.woff') format('woff'), /* Modern Browsers */
         url('TitilliumWeb-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

